In [1]:
import pandas as pd
import numpy as np
import math

# 0. Data Import and Data Cleaning

## 0.1 Data Import

### 0.1.1 Dataset 1

In [2]:
df = pd.read_excel(r'CO2Highlights2020.xls', sheet_name='KAYA')

### 0.1.2 Dataset 2 - Population Growth 
Source: https://data.worldbank.org/indicator/SP.POP.GROW

In [3]:
df2 = pd.read_excel(r'API_SP.POP.GROW_DS2_en_csv_v2_2593875.xlsx')

## 0.2 Data Cleaning - Part 1/2

### 0.2.1 Dataset 1

In [4]:
df

,CO2 emissions and drivers (Kaya decomposition),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Source:,Unnamed: 8,"IEA (2019), CO2 Emissions from Fuel Combustion.",...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Documentation:,NaN,http://wds.iea.org/wds/pdf/Worldco2_Documentat...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Back to the table of contents,See info box for reference years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,index (reference year = 100),NaN,1971,1972,1973,1974,1975,1976,1977,1978,...,2015,2016,2017,2018,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,World,CO2 emissions,67.975,71.264,75.352,75.198,75.483,79.493,82.192,84.631,...,157.757,157.802,160.057,163.351,NaN,NaN,Identifying drivers of CO2 emissions trends,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084,NaN,Carbon intensity: ESCII (CO2/TES),95.126,95.417,95.279,100.346,100.68,99.69,100.092,97.048,...,98.1,100.287,100.352,99.855,NaN,NaN,NaN,NaN,NaN,NaN
1085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1086,NaN,NaN,"The original version of this file, as publishe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1087,NaN,NaN,\nYou are permitted to use the data in this fi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1088,NaN,NaN,"This notice, and any copyright or sourcing sta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

First two rows not needed

In [5]:
df_clean = df.iloc[2:]
df_clean

,CO2 emissions and drivers (Kaya decomposition),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Source:,Unnamed: 8,"IEA (2019), CO2 Emissions from Fuel Combustion.",...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
2,index (reference year = 100),NaN,1971,1972,1973,1974,1975,1976,1977,1978,...,2015,2016,2017,2018,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,World,CO2 emissions,67.975,71.264,75.352,75.198,75.483,79.493,82.192,84.631,...,157.757,157.802,160.057,163.351,NaN,NaN,Identifying drivers of CO2 emissions trends,NaN,NaN,NaN
5,NaN,Population,71.19,72.64,74.103,75.534,76.934,78.316,79.691,81.087,...,138.891,140.5,142.098,143.671,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,GDP per population (GDP per capita),71.669,74.196,77.743,78.545,78.127,81.209,83.171,84.752,...,164.903,168.377,172.734,176.815,NaN,NaN,This table presents the decomposition of CO2 e...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084,NaN,Carbon intensity: ESCII (CO2/TES),95.126,95.417,95.279,100.346,100.68,99.69,100.092,97.048,...,98.1,100.287,100.352,99.855,NaN,NaN,NaN,NaN,NaN,NaN
1085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1086,NaN,NaN,"The original version of this file, as publishe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1087,NaN,NaN,\nYou are permitted to use the data in this fi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1088,NaN,NaN,"This notice, and any copyright or sourcing sta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The first two columns identify each observation.

In [6]:
df_clean[['CO2 emissions and drivers (Kaya decomposition)', 'Unnamed: 1']]

,CO2 emissions and drivers (Kaya decomposition),Unnamed: 1
2,index (reference year = 100),NaN
3,NaN,NaN
4,World,CO2 emissions
5,NaN,Population
6,NaN,GDP per population (GDP per capita)
...,...,...
1084,NaN,Carbon intensity: ESCII (CO2/TES)
1085,NaN,NaN
1086,NaN,NaN
1087,NaN,NaN
1088,NaN,NaN

Remove all the observations having NaN in both column 1 and column 2

In [7]:
# Retain only the observations that DO NOT present both NaN columns values
df_clean = df_clean.loc[~(df_clean['CO2 emissions and drivers (Kaya decomposition)'].isna() & df_clean['Unnamed: 1'].isna())]
df_clean

,CO2 emissions and drivers (Kaya decomposition),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Source:,Unnamed: 8,"IEA (2019), CO2 Emissions from Fuel Combustion.",...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
2,index (reference year = 100),NaN,1971,1972,1973,1974,1975,1976,1977,1978,...,2015,2016,2017,2018,NaN,NaN,NaN,NaN,NaN,NaN
4,World,CO2 emissions,67.975,71.264,75.352,75.198,75.483,79.493,82.192,84.631,...,157.757,157.802,160.057,163.351,NaN,NaN,Identifying drivers of CO2 emissions trends,NaN,NaN,NaN
5,NaN,Population,71.19,72.64,74.103,75.534,76.934,78.316,79.691,81.087,...,138.891,140.5,142.098,143.671,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,GDP per population (GDP per capita),71.669,74.196,77.743,78.545,78.127,81.209,83.171,84.752,...,164.903,168.377,172.734,176.815,NaN,NaN,This table presents the decomposition of CO2 e...,NaN,NaN,NaN
7,NaN,Energy intensity (TES/GDP),123.381,122.49,120.741,117.947,117.275,116.897,116.179,116.409,...,67.651,65.996,64.832,64.131,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,Oceania,CO2 emissions,56.16,58.579,62.505,68.572,70.102,71.438,76.671,74.447,...,145.909,148.843,150.342,149.811,NaN,NaN,NaN,NaN,NaN,NaN
1081,NaN,Population,78.589,79.861,81.148,82.513,83.452,84.284,85.184,85.918,...,139.089,141.374,143.796,146.081,NaN,NaN,NaN,NaN,NaN,NaN
1082,NaN,GDP per population (GDP per capita),76.019,77.079,79.451,79.833,80.352,82.045,81.226,83.289,...,157.271,158.68,160.819,161.505,NaN,NaN,NaN,NaN,NaN,NaN
1083,NaN,Energy intensity (TES/GDP),98.82,99.734,101.751,103.739,103.837,103.628,110.709,107.197,...,67.994,66.16,64.785,63.59,NaN,NaN,NaN,NaN,NaN,NaN
1084,NaN,Carbon intensity: ESCII (CO2/TES),95.126,95.417,95.279,100.346,100.68,99.69,100.092,97.048,...,98.1,100.287,100.352,99.855,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# First row as header, reset the index so that you can retain only the rows from the first row onwards
df_clean = df_clean.rename(columns=df_clean.iloc[0]).reset_index(drop = True)[1:]
df_clean

,index (reference year = 100),NaN,1971,1972,1973,1974,1975,1976,1977,1978,...,2015,2016,2017,2018,NaN,NaN,NaN,NaN,NaN,NaN
1,World,CO2 emissions,67.975,71.264,75.352,75.198,75.483,79.493,82.192,84.631,...,157.757,157.802,160.057,163.351,NaN,NaN,Identifying drivers of CO2 emissions trends,NaN,NaN,NaN
2,NaN,Population,71.19,72.64,74.103,75.534,76.934,78.316,79.691,81.087,...,138.891,140.5,142.098,143.671,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GDP per population (GDP per capita),71.669,74.196,77.743,78.545,78.127,81.209,83.171,84.752,...,164.903,168.377,172.734,176.815,NaN,NaN,This table presents the decomposition of CO2 e...,NaN,NaN,NaN
4,NaN,Energy intensity (TES/GDP),123.381,122.49,120.741,117.947,117.275,116.897,116.179,116.409,...,67.651,65.996,64.832,64.131,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Carbon intensity: ESCII (CO2/TES),107.982,107.947,108.328,107.463,107.083,106.921,106.739,105.788,...,101.816,101.073,100.581,100.27,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,Oceania,CO2 emissions,56.16,58.579,62.505,68.572,70.102,71.438,76.671,74.447,...,145.909,148.843,150.342,149.811,NaN,NaN,NaN,NaN,NaN,NaN
898,NaN,Population,78.589,79.861,81.148,82.513,83.452,84.284,85.184,85.918,...,139.089,141.374,143.796,146.081,NaN,NaN,NaN,NaN,NaN,NaN
899,NaN,GDP per population (GDP per capita),76.019,77.079,79.451,79.833,80.352,82.045,81.226,83.289,...,157.271,158.68,160.819,161.505,NaN,NaN,NaN,NaN,NaN,NaN
900,NaN,Energy intensity (TES/GDP),98.82,99.734,101.751,103.739,103.837,103.628,110.709,107.197,...,67.994,66.16,64.785,63.59,NaN,NaN,NaN,NaN,NaN,NaN
901,NaN,Carbon intensity: ESCII (CO2/TES),95.126,95.417,95.279,100.346,100.68,99.69,100.092,97.048,...,98.1,100.287,100.352,99.855,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Eliminate the columns after 2018
df_clean = df_clean.iloc[:, :-6]
df_clean

,index (reference year = 100),NaN,1971,1972,1973,1974,1975,1976,1977,1978,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,World,CO2 emissions,67.975,71.264,75.352,75.198,75.483,79.493,82.192,84.631,...,140.339,149.066,153.341,155.03,157.782,157.869,157.757,157.802,160.057,163.351
2,NaN,Population,71.19,72.64,74.103,75.534,76.934,78.316,79.691,81.087,...,129.44,130.997,132.556,134.141,135.71,137.297,138.891,140.5,142.098,143.671
3,NaN,GDP per population (GDP per capita),71.669,74.196,77.743,78.545,78.127,81.209,83.171,84.752,...,141.512,147.056,151.074,154.273,157.719,161.365,164.903,168.377,172.734,176.815
4,NaN,Energy intensity (TES/GDP),123.381,122.49,120.741,117.947,117.275,116.897,116.179,116.409,...,75.81,76.059,74.321,72.841,71.423,69.767,67.651,65.996,64.832,64.131
5,NaN,Carbon intensity: ESCII (CO2/TES),107.982,107.947,108.328,107.463,107.083,106.921,106.739,105.788,...,101.063,101.739,103.029,102.847,103.211,102.136,101.816,101.073,100.581,100.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,Oceania,CO2 emissions,56.16,58.579,62.505,68.572,70.102,71.438,76.671,74.447,...,150.463,148.351,147.563,148.069,146.063,143.312,145.909,148.843,150.342,149.811
898,NaN,Population,78.589,79.861,81.148,82.513,83.452,84.284,85.184,85.918,...,127.263,129.147,130.8,132.851,134.974,137.014,139.089,141.374,143.796,146.081
899,NaN,GDP per population (GDP per capita),76.019,77.079,79.451,79.833,80.352,82.045,81.226,83.289,...,146.209,147.345,150.951,152.442,153.75,155.041,157.271,158.68,160.819,161.505
900,NaN,Energy intensity (TES/GDP),98.82,99.734,101.751,103.739,103.837,103.628,110.709,107.197,...,77.873,76.767,74.31,72.217,71.426,69.98,67.994,66.16,64.785,63.59
901,NaN,Carbon intensity: ESCII (CO2/TES),95.126,95.417,95.279,100.346,100.68,99.69,100.092,97.048,...,103.841,101.555,100.573,101.241,98.541,96.405,98.1,100.287,100.352,99.855

In [10]:
# Rename the first two columns
df_clean = df_clean.rename(columns = {'index (reference year = 100)': 'Country', np.nan: 'Indicator'})
df_clean

,Country,Indicator,1971,1972,1973,1974,1975,1976,1977,1978,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,World,CO2 emissions,67.975,71.264,75.352,75.198,75.483,79.493,82.192,84.631,...,140.339,149.066,153.341,155.03,157.782,157.869,157.757,157.802,160.057,163.351
2,NaN,Population,71.19,72.64,74.103,75.534,76.934,78.316,79.691,81.087,...,129.44,130.997,132.556,134.141,135.71,137.297,138.891,140.5,142.098,143.671
3,NaN,GDP per population (GDP per capita),71.669,74.196,77.743,78.545,78.127,81.209,83.171,84.752,...,141.512,147.056,151.074,154.273,157.719,161.365,164.903,168.377,172.734,176.815
4,NaN,Energy intensity (TES/GDP),123.381,122.49,120.741,117.947,117.275,116.897,116.179,116.409,...,75.81,76.059,74.321,72.841,71.423,69.767,67.651,65.996,64.832,64.131
5,NaN,Carbon intensity: ESCII (CO2/TES),107.982,107.947,108.328,107.463,107.083,106.921,106.739,105.788,...,101.063,101.739,103.029,102.847,103.211,102.136,101.816,101.073,100.581,100.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,Oceania,CO2 emissions,56.16,58.579,62.505,68.572,70.102,71.438,76.671,74.447,...,150.463,148.351,147.563,148.069,146.063,143.312,145.909,148.843,150.342,149.811
898,NaN,Population,78.589,79.861,81.148,82.513,83.452,84.284,85.184,85.918,...,127.263,129.147,130.8,132.851,134.974,137.014,139.089,141.374,143.796,146.081
899,NaN,GDP per population (GDP per capita),76.019,77.079,79.451,79.833,80.352,82.045,81.226,83.289,...,146.209,147.345,150.951,152.442,153.75,155.041,157.271,158.68,160.819,161.505
900,NaN,Energy intensity (TES/GDP),98.82,99.734,101.751,103.739,103.837,103.628,110.709,107.197,...,77.873,76.767,74.31,72.217,71.426,69.98,67.994,66.16,64.785,63.59
901,NaN,Carbon intensity: ESCII (CO2/TES),95.126,95.417,95.279,100.346,100.68,99.69,100.092,97.048,...,103.841,101.555,100.573,101.241,98.541,96.405,98.1,100.287,100.352,99.855

In [11]:
# I want the 'Country' column to have repeated values for each indicator, so that a Multi-Index can be created
new_column = []
for r in df_clean['Country']:
    if pd.isna(r):
        new_column.append(name)
    else:
        name = r
        new_column.append(name)

In [12]:
df_clean['Country'] = new_column

In [13]:
df_clean

,Country,Indicator,1971,1972,1973,1974,1975,1976,1977,1978,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,World,CO2 emissions,67.975,71.264,75.352,75.198,75.483,79.493,82.192,84.631,...,140.339,149.066,153.341,155.03,157.782,157.869,157.757,157.802,160.057,163.351
2,World,Population,71.19,72.64,74.103,75.534,76.934,78.316,79.691,81.087,...,129.44,130.997,132.556,134.141,135.71,137.297,138.891,140.5,142.098,143.671
3,World,GDP per population (GDP per capita),71.669,74.196,77.743,78.545,78.127,81.209,83.171,84.752,...,141.512,147.056,151.074,154.273,157.719,161.365,164.903,168.377,172.734,176.815
4,World,Energy intensity (TES/GDP),123.381,122.49,120.741,117.947,117.275,116.897,116.179,116.409,...,75.81,76.059,74.321,72.841,71.423,69.767,67.651,65.996,64.832,64.131
5,World,Carbon intensity: ESCII (CO2/TES),107.982,107.947,108.328,107.463,107.083,106.921,106.739,105.788,...,101.063,101.739,103.029,102.847,103.211,102.136,101.816,101.073,100.581,100.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,Oceania,CO2 emissions,56.16,58.579,62.505,68.572,70.102,71.438,76.671,74.447,...,150.463,148.351,147.563,148.069,146.063,143.312,145.909,148.843,150.342,149.811
898,Oceania,Population,78.589,79.861,81.148,82.513,83.452,84.284,85.184,85.918,...,127.263,129.147,130.8,132.851,134.974,137.014,139.089,141.374,143.796,146.081
899,Oceania,GDP per population (GDP per capita),76.019,77.079,79.451,79.833,80.352,82.045,81.226,83.289,...,146.209,147.345,150.951,152.442,153.75,155.041,157.271,158.68,160.819,161.505
900,Oceania,Energy intensity (TES/GDP),98.82,99.734,101.751,103.739,103.837,103.628,110.709,107.197,...,77.873,76.767,74.31,72.217,71.426,69.98,67.994,66.16,64.785,63.59
901,Oceania,Carbon intensity: ESCII (CO2/TES),95.126,95.417,95.279,100.346,100.68,99.69,100.092,97.048,...,103.841,101.555,100.573,101.241,98.541,96.405,98.1,100.287,100.352,99.855

In [14]:
df_clean['Country'].unique().size * 5
# 900 ==> There is one observation more

900

In [15]:
# The observation more is the one having 'Country' == 'Region/Country/Economy', having 'Indicator' == NaN
df_clean = df_clean.loc[~(df_clean['Indicator'].isna())]

In [16]:
df_clean['Country'].unique().size*5
# 895, we have 900 observations so there are 5 more observations

895

In [17]:
df_clean[['Country','Indicator']].groupby('Country').count()
# As expected, Africa has 5 more observations. In fact, if one checks the xls file one can see that Africa's values are repeated:
# once at row 662, another time at row 1058

          Indicator
Country
Africa           10
Albania           5
Algeria           5
Americas          5
Angola            5
...             ...
Viet Nam          5
World             5
Yemen             5
Zambia            5
Zimbabwe          5

[179 rows x 1 columns]

In [18]:
df_clean.loc[df_clean['Country'] =='Africa']
# Indeed they are the same observations

,Country,Indicator,1971,1972,1973,1974,1975,1976,1977,1978,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
547,Africa,CO2 emissions,46.958,49.745,53.843,56.468,61.165,66.445,68.377,66.507,...,182.501,193.192,193.055,204.614,212.048,221.007,219.758,221.343,226.87,234.569
548,Africa,Population,59.163,60.728,62.349,64.031,65.782,67.601,69.49,71.447,...,161.29,165.473,169.791,174.445,179.021,183.705,188.487,193.364,198.332,203.384
549,Africa,GDP per population (GDP per capita),99.011,99.497,100.499,102.194,101.213,105.696,107.05,106.13,...,124.718,128.047,126.392,130.541,132.156,133.418,134.233,133.553,134.582,135.393
550,Africa,Energy intensity (TES/GDP),83.828,84.166,84.484,83.697,85.531,83.093,83.008,85.003,...,86.06,83.81,85.752,82.497,80.957,82.303,79.185,79.921,78.936,78.665
551,Africa,Carbon intensity: ESCII (CO2/TES),95.629,97.818,101.71,103.104,107.408,111.916,110.735,103.183,...,105.421,108.791,104.906,108.916,110.712,109.561,109.688,107.244,107.676,108.286
877,Africa,CO2 emissions,46.958,49.745,53.843,56.468,61.165,66.445,68.377,66.507,...,182.501,193.192,193.055,204.614,212.048,221.007,219.758,221.343,226.87,234.569
878,Africa,Population,59.163,60.728,62.349,64.031,65.782,67.601,69.49,71.447,...,161.29,165.473,169.791,174.445,179.021,183.705,188.487,193.364,198.332,203.384
879,Africa,GDP per population (GDP per capita),99.011,99.497,100.499,102.194,101.213,105.696,107.05,106.13,...,124.718,128.047,126.392,130.541,132.156,133.418,134.233,133.553,134.582,135.393
880,Africa,Energy intensity (TES/GDP),83.828,84.166,84.484,83.697,85.531,83.093,83.008,85.003,...,86.06,83.81,85.752,82.497,80.957,82.303,79.185,79.921,78.936,78.665
881,Africa,Carbon intensity: ESCII (CO2/TES),95.629,97.818,101.71,103.104,107.408,111.916,110.735,103.183,...,105.421,108.791,104.906,108.916,110.712,109.561,109.688,107.244,107.676,108.286

In [19]:
# Take the index of the observations to remove
remove_indices = df_clean.loc[df_clean['Country'] =='Africa'][:5].index

In [20]:
# Remove the observations having those index, and reset the index
df_clean = df_clean.drop(remove_indices).reset_index(drop = True)

In [21]:
df_clean
# Now everything fine

,Country,Indicator,1971,1972,1973,1974,1975,1976,1977,1978,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,World,CO2 emissions,67.975,71.264,75.352,75.198,75.483,79.493,82.192,84.631,...,140.339,149.066,153.341,155.03,157.782,157.869,157.757,157.802,160.057,163.351
1,World,Population,71.19,72.64,74.103,75.534,76.934,78.316,79.691,81.087,...,129.44,130.997,132.556,134.141,135.71,137.297,138.891,140.5,142.098,143.671
2,World,GDP per population (GDP per capita),71.669,74.196,77.743,78.545,78.127,81.209,83.171,84.752,...,141.512,147.056,151.074,154.273,157.719,161.365,164.903,168.377,172.734,176.815
3,World,Energy intensity (TES/GDP),123.381,122.49,120.741,117.947,117.275,116.897,116.179,116.409,...,75.81,76.059,74.321,72.841,71.423,69.767,67.651,65.996,64.832,64.131
4,World,Carbon intensity: ESCII (CO2/TES),107.982,107.947,108.328,107.463,107.083,106.921,106.739,105.788,...,101.063,101.739,103.029,102.847,103.211,102.136,101.816,101.073,100.581,100.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,Oceania,CO2 emissions,56.16,58.579,62.505,68.572,70.102,71.438,76.671,74.447,...,150.463,148.351,147.563,148.069,146.063,143.312,145.909,148.843,150.342,149.811
891,Oceania,Population,78.589,79.861,81.148,82.513,83.452,84.284,85.184,85.918,...,127.263,129.147,130.8,132.851,134.974,137.014,139.089,141.374,143.796,146.081
892,Oceania,GDP per population (GDP per capita),76.019,77.079,79.451,79.833,80.352,82.045,81.226,83.289,...,146.209,147.345,150.951,152.442,153.75,155.041,157.271,158.68,160.819,161.505
893,Oceania,Energy intensity (TES/GDP),98.82,99.734,101.751,103.739,103.837,103.628,110.709,107.197,...,77.873,76.767,74.31,72.217,71.426,69.98,67.994,66.16,64.785,63.59
894,Oceania,Carbon intensity: ESCII (CO2/TES),95.126,95.417,95.279,100.346,100.68,99.69,100.092,97.048,...,103.841,101.555,100.573,101.241,98.541,96.405,98.1,100.287,100.352,99.855

In [22]:
# If needed, multi-index dataset
df_clean_multi = df_clean.set_index(['Country', 'Indicator'])

In [23]:
df_clean_multi

                                                1971     1972     1973  \
Country Indicator
World   CO2 emissions                         67.975   71.264   75.352
        Population                             71.19    72.64   74.103
        GDP per population (GDP per capita)   71.669   74.196   77.743
        Energy intensity (TES/GDP)           123.381   122.49  120.741
        Carbon intensity: ESCII (CO2/TES)    107.982  107.947  108.328
...                                              ...      ...      ...
Oceania CO2 emissions                          56.16   58.579   62.505
        Population                            78.589   79.861   81.148
        GDP per population (GDP per capita)   76.019   77.079   79.451
        Energy intensity (TES/GDP)             98.82   99.734  101.751
        Carbon intensity: ESCII (CO2/TES)     95.126   95.417   95.279

                                                1974     1975     1976  \
Country Indicator
World   CO2 emissions                         75.198   75.483   79.493
        Population                            75.534   76.934   78.316
        GDP per population (GDP per capita)   78.545   78.127   81.209
        Energy intensity (TES/GDP)           117.947  117.275  116.897
        Carbon intensity: ESCII (CO2/TES)    107.463  107.083  106.921
...                                              ...      ...      ...
Oceania CO2 emissions                         68.572   70.102   71.438
        Population                            82.513   83.452   84.284
        GDP per population (GDP per capita)   79.833   80.352   82.045
        Energy intensity (TES/GDP)           103.739  103.837  103.628
        Carbon intensity: ESCII (CO2/TES)    100.346   100.68    99.69

                                                1977     1978     1979  \
Country Indicator
World   CO2 emissions                         82.192   84.631   87.154
        Population                            79.691   81.087   82.519
        GDP per population (GDP per capita)   83.171   84.752   86.542
        Energy intensity (TES/GDP)           116.179  116.409  115.415
        Carbon intensity: ESCII (CO2/TES)    106.739  105.788  105.742
...                                              ...      ...      ...
Oceania CO2 emissions                         76.671   74.447   76.237
        Population                            85.184   85.918   86.799
        GDP per population (GDP per capita)   81.226   83.289   84.833
        Energy intensity (TES/GDP)           110.709  107.197  105.357
        Carbon intensity: ESCII (CO2/TES)    100.092   97.048    98.27

                                                1980  ...     2009     2010  \
Country Indicator                                     ...
World   CO2 emissions                         86.309  ...  140.339  149.066
        Population                            83.982  ...   129.44  130.997
        GDP per population (GDP per capita)   86.679  ...  141.512  147.056
        Energy intensity (TES/GDP)           112.864  ...    75.81   76.059
        Carbon intensity: ESCII (CO2/TES)     105.05  ...  101.063  101.739
...                                              ...  ...      ...      ...
Oceania CO2 emissions                         79.596  ...  150.463  148.351
        Population                            87.831  ...  127.263  129.147
        GDP per population (GDP per capita)   86.359  ...  146.209  147.345
        Energy intensity (TES/GDP)           104.669  ...   77.873   76.767
        Carbon intensity: ESCII (CO2/TES)    100.258  ...  103.841  101.555

                                                2011     2012     2013  \
Country Indicator
World   CO2 emissions                        153.341   155.03  157.782
        Population                           132.556  134.141   135.71
        GDP per population (GDP per capita)  151.074  154.273  157.719
        Energy intensity (TES/GDP)            74.321   72.841   71.423
        Carbon intensity: ESCII (CO2/TES)    103.029  102.847  103.211
...                                              ...      ...      ...
Oceania CO2 emissions                        147.563  148.069  146.063
        Population                             130.8  132.851  134.974
        GDP per population (GDP per capita)  150.951  152.442   153.75
        Energy intensity (TES/GDP)             74.31   72.217   71.426
        Carbon intensity: ESCII (CO2/TES)    100.573  101.241   98.541

                                                2014     2015     2016  \
Country Indicator
World   CO2 emissions                        157.869  157.757  157.802
        Population                           137.297  138.891    140.5
        GDP per population (GDP per capita)  161.365  164.903  168.377
        Energy intensity (TES/GDP)            69.767   67.651   65.996
        Carbon intensity: ESCII (CO2/TES)    102.136  101.816  101.073
...                                              ...      ...      ...
Oceania CO2 emissions                        143.312  145.909  148.843
        Population                           137.014  139.089  141.374
        GDP per population (GDP per capita)  155.041  157.271   158.68
        Energy intensity (TES/GDP)             69.98   67.994    66.16
        Carbon intensity: ESCII (CO2/TES)     96.405     98.1  100.287

                                                2017     2018
Country Indicator
World   CO2 emissions                        160.057  163.351
        Population                           142.098  143.671
        GDP per population (GDP per capita)  172.734  176.815
        Energy intensity (TES/GDP)            64.832   64.131
        Carbon intensity: ESCII (CO2/TES)    100.581   100.27
...                                              ...      ...
Oceania CO2 emissions                        150.342  149.811
        Population                           143.796  146.081
        GDP per population (GDP per capita)  160.819  161.505
        Energy intensity (TES/GDP)            64.785    63.59
        Carbon intensity: ESCII (CO2/TES)    100.352   99.855

[895 rows x 48 columns]

### 0.2.2 Dataset 2

In [24]:
df2

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,2021-06-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.236462,1.432843,0.823502,0.580334,0.573498,...,0.377979,0.503385,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,NaN,1.986474,2.857337,2.777956,2.702867,2.631731,...,0.859067,0.895255,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,-0.757525
266,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,NaN,1.450907,1.484139,1.506696,1.515089,1.515455,...,2.779983,2.757339,2.716540,2.654141,2.578030,2.498277,2.423989,2.357044,2.300594,2.251561
267,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,NaN,2.453291,2.486444,2.514218,2.535789,2.552492,...,1.524514,1.581354,1.604367,1.583787,1.532243,1.471933,1.416947,1.363703,1.316292,1.273356
268,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,NaN,3.000974,2.998369,3.004541,3.022576,3.049993,...,3.020319,3.102914,3.139940,3.121249,3.066671,3.002935,2.951463,2.912653,2.893018,2.885686
269,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,NaN,3.342246,3.378137,3.395753,3.390942,3.373608,...,1.536406,1.698084,1.777672,1.754741,1.663694,1.549294,1.459406,1.410382,1.421142,1.473871

First three rows not needed

In [25]:
df2_clean = df2.iloc[3:]
df2_clean

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.236462,1.432843,0.823502,0.580334,0.573498,...,0.377979,0.503385,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017
5,Africa Eastern and Southern,AFE,Population growth (annual %),SP.POP.GROW,NaN,2.539822,2.575182,2.606839,2.633213,2.656488,...,2.756619,2.763426,2.761496,2.750400,2.732598,2.712218,2.690902,2.665620,2.636666,2.605427
6,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,NaN,1.898499,1.965805,2.029830,2.090208,2.147639,...,3.143106,3.407600,3.494592,3.355602,3.077054,2.778035,2.547833,2.384309,2.313073,2.303812
7,Africa Western and Central,AFW,Population growth (annual %),SP.POP.GROW,2.034308,2.085972,2.133725,2.173361,2.202845,2.226134,...,2.775171,2.763803,2.753564,2.745542,2.738332,2.730332,2.719330,2.704168,2.684152,2.660902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,NaN,1.986474,2.857337,2.777956,2.702867,2.631731,...,0.859067,0.895255,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,-0.757525
266,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,NaN,1.450907,1.484139,1.506696,1.515089,1.515455,...,2.779983,2.757339,2.716540,2.654141,2.578030,2.498277,2.423989,2.357044,2.300594,2.251561
267,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,NaN,2.453291,2.486444,2.514218,2.535789,2.552492,...,1.524514,1.581354,1.604367,1.583787,1.532243,1.471933,1.416947,1.363703,1.316292,1.273356
268,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,NaN,3.000974,2.998369,3.004541,3.022576,3.049993,...,3.020319,3.102914,3.139940,3.121249,3.066671,3.002935,2.951463,2.912653,2.893018,2.885686
269,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,NaN,3.342246,3.378137,3.395753,3.390942,3.373608,...,1.536406,1.698084,1.777672,1.754741,1.663694,1.549294,1.459406,1.410382,1.421142,1.473871

In [26]:
# First row as header, reset the index so that you can retain only the rows from the first row onwards
df2_clean = df2_clean.rename(columns=df2_clean.iloc[0]).reset_index(drop = True)[1:]
df2_clean

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
1,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.236462,1.432843,0.823502,0.580334,0.573498,...,0.377979,0.503385,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017
2,Africa Eastern and Southern,AFE,Population growth (annual %),SP.POP.GROW,NaN,2.539822,2.575182,2.606839,2.633213,2.656488,...,2.756619,2.763426,2.761496,2.750400,2.732598,2.712218,2.690902,2.665620,2.636666,2.605427
3,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,NaN,1.898499,1.965805,2.029830,2.090208,2.147639,...,3.143106,3.407600,3.494592,3.355602,3.077054,2.778035,2.547833,2.384309,2.313073,2.303812
4,Africa Western and Central,AFW,Population growth (annual %),SP.POP.GROW,2.034308,2.085972,2.133725,2.173361,2.202845,2.226134,...,2.775171,2.763803,2.753564,2.745542,2.738332,2.730332,2.719330,2.704168,2.684152,2.660902
5,Angola,AGO,Population growth (annual %),SP.POP.GROW,NaN,1.392891,1.383296,1.256405,0.973970,0.618450,...,3.634150,3.597755,3.551997,3.497447,3.438869,3.378269,3.322158,3.276145,3.242914,3.218530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,NaN,1.986474,2.857337,2.777956,2.702867,2.631731,...,0.859067,0.895255,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,-0.757525
263,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,NaN,1.450907,1.484139,1.506696,1.515089,1.515455,...,2.779983,2.757339,2.716540,2.654141,2.578030,2.498277,2.423989,2.357044,2.300594,2.251561
264,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,NaN,2.453291,2.486444,2.514218,2.535789,2.552492,...,1.524514,1.581354,1.604367,1.583787,1.532243,1.471933,1.416947,1.363703,1.316292,1.273356
265,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,NaN,3.000974,2.998369,3.004541,3.022576,3.049993,...,3.020319,3.102914,3.139940,3.121249,3.066671,3.002935,2.951463,2.912653,2.893018,2.885686
266,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,NaN,3.342246,3.378137,3.395753,3.390942,3.373608,...,1.536406,1.698084,1.777672,1.754741,1.663694,1.549294,1.459406,1.410382,1.421142,1.473871

In [27]:
# Remove not needed columns: Indicator Code and 1960
df2_clean_final = df2_clean.drop(labels = ['Indicator Code', 1960], axis = 1)
df2_clean_final

,Country Name,Country Code,Indicator Name,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
1,Aruba,ABW,Population growth (annual %),2.236462,1.432843,0.823502,0.580334,0.573498,0.599694,0.590951,...,0.377979,0.503385,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017
2,Africa Eastern and Southern,AFE,Population growth (annual %),2.539822,2.575182,2.606839,2.633213,2.656488,2.677084,2.699647,...,2.756619,2.763426,2.761496,2.750400,2.732598,2.712218,2.690902,2.665620,2.636666,2.605427
3,Afghanistan,AFG,Population growth (annual %),1.898499,1.965805,2.029830,2.090208,2.147639,2.171068,2.188165,...,3.143106,3.407600,3.494592,3.355602,3.077054,2.778035,2.547833,2.384309,2.313073,2.303812
4,Africa Western and Central,AFW,Population growth (annual %),2.085972,2.133725,2.173361,2.202845,2.226134,2.248056,2.273562,...,2.775171,2.763803,2.753564,2.745542,2.738332,2.730332,2.719330,2.704168,2.684152,2.660902
5,Angola,AGO,Population growth (annual %),1.392891,1.383296,1.256405,0.973970,0.618450,0.185805,-0.118815,...,3.634150,3.597755,3.551997,3.497447,3.438869,3.378269,3.322158,3.276145,3.242914,3.218530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Kosovo,XKX,Population growth (annual %),1.986474,2.857337,2.777956,2.702867,2.631731,2.564243,2.588275,...,0.859067,0.895255,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,-0.757525
263,"Yemen, Rep.",YEM,Population growth (annual %),1.450907,1.484139,1.506696,1.515089,1.515455,1.533227,1.563169,...,2.779983,2.757339,2.716540,2.654141,2.578030,2.498277,2.423989,2.357044,2.300594,2.251561
264,South Africa,ZAF,Population growth (annual %),2.453291,2.486444,2.514218,2.535789,2.552492,2.563834,2.574171,...,1.524514,1.581354,1.604367,1.583787,1.532243,1.471933,1.416947,1.363703,1.316292,1.273356
265,Zambia,ZMB,Population growth (annual %),3.000974,2.998369,3.004541,3.022576,3.049993,3.074720,3.099891,...,3.020319,3.102914,3.139940,3.121249,3.066671,3.002935,2.951463,2.912653,2.893018,2.885686
266,Zimbabwe,ZWE,Population growth (annual %),3.342246,3.378137,3.395753,3.390942,3.373608,3.346548,3.328655,...,1.536406,1.698084,1.777672,1.754741,1.663694,1.549294,1.459406,1.410382,1.421142,1.473871

## 0.3 Data Cleaning - Part 2/2
The dataset needs to be in the appropriate format to be analyzed. In particular, it needs to be reshaped.

### 0.3.1 Dataset 1

In [28]:
pd.DataFrame(df_clean_multi.stack())

                                                      0
Country Indicator
World   CO2 emissions                     1971   67.975
                                          1972   71.264
                                          1973   75.352
                                          1974   75.198
                                          1975   75.483
...                                                 ...
Oceania Carbon intensity: ESCII (CO2/TES) 2014   96.405
                                          2015     98.1
                                          2016  100.287
                                          2017  100.352
                                          2018   99.855

[42960 rows x 1 columns]

In [29]:
pd.DataFrame(df_clean_multi.stack()).reset_index()

       Country                          Indicator  level_2        0
0        World                      CO2 emissions     1971   67.975
1        World                      CO2 emissions     1972   71.264
2        World                      CO2 emissions     1973   75.352
3        World                      CO2 emissions     1974   75.198
4        World                      CO2 emissions     1975   75.483
...        ...                                ...      ...      ...
42955  Oceania  Carbon intensity: ESCII (CO2/TES)     2014   96.405
42956  Oceania  Carbon intensity: ESCII (CO2/TES)     2015     98.1
42957  Oceania  Carbon intensity: ESCII (CO2/TES)     2016  100.287
42958  Oceania  Carbon intensity: ESCII (CO2/TES)     2017  100.352
42959  Oceania  Carbon intensity: ESCII (CO2/TES)     2018   99.855

[42960 rows x 4 columns]

In [30]:
df_clean_reshape = pd.DataFrame(df_clean_multi.stack()).reset_index().rename(columns = {'level_2': 'Year', 0: 'Value'}).copy()

In [31]:
df_clean_reshape

       Country                          Indicator  Year    Value
0        World                      CO2 emissions  1971   67.975
1        World                      CO2 emissions  1972   71.264
2        World                      CO2 emissions  1973   75.352
3        World                      CO2 emissions  1974   75.198
4        World                      CO2 emissions  1975   75.483
...        ...                                ...   ...      ...
42955  Oceania  Carbon intensity: ESCII (CO2/TES)  2014   96.405
42956  Oceania  Carbon intensity: ESCII (CO2/TES)  2015     98.1
42957  Oceania  Carbon intensity: ESCII (CO2/TES)  2016  100.287
42958  Oceania  Carbon intensity: ESCII (CO2/TES)  2017  100.352
42959  Oceania  Carbon intensity: ESCII (CO2/TES)  2018   99.855

[42960 rows x 4 columns]

In the final dataset, only the CO2 emissions and the Population index are retained. Some other pre-processing work is needed.

In [32]:
df_clean_co2 = df_clean_reshape.loc[df_clean_reshape['Indicator'] == 'CO2 emissions'].drop(['Indicator'], axis = 1).rename(columns = {'Value': 'CO2 emissions'})
df_clean_co2

       Country  Year CO2 emissions
0        World  1971        67.975
1        World  1972        71.264
2        World  1973        75.352
3        World  1974        75.198
4        World  1975        75.483
...        ...   ...           ...
42763  Oceania  2014       143.312
42764  Oceania  2015       145.909
42765  Oceania  2016       148.843
42766  Oceania  2017       150.342
42767  Oceania  2018       149.811

[8592 rows x 3 columns]

In [33]:
df_clean_population = df_clean_reshape.loc[df_clean_reshape['Indicator'] == 'Population'].drop(['Indicator'], axis = 1).rename(columns = {'Value': 'Population'})
df_clean_population

       Country  Year Population
48       World  1971      71.19
49       World  1972      72.64
50       World  1973     74.103
51       World  1974     75.534
52       World  1975     76.934
...        ...   ...        ...
42811  Oceania  2014    137.014
42812  Oceania  2015    139.089
42813  Oceania  2016    141.374
42814  Oceania  2017    143.796
42815  Oceania  2018    146.081

[8592 rows x 3 columns]

In [34]:
df_final = df_clean_co2.merge(df_clean_population, how = 'inner', on = ['Country', 'Year']).reset_index(drop = True).copy()
df_final

      Country  Year CO2 emissions Population
0       World  1971        67.975      71.19
1       World  1972        71.264      72.64
2       World  1973        75.352     74.103
3       World  1974        75.198     75.534
4       World  1975        75.483     76.934
...       ...   ...           ...        ...
8587  Oceania  2014       143.312    137.014
8588  Oceania  2015       145.909    139.089
8589  Oceania  2016       148.843    141.374
8590  Oceania  2017       150.342    143.796
8591  Oceania  2018       149.811    146.081

[8592 rows x 4 columns]

In [35]:
# Convert CO2 emissions and Population to float
df_final['CO2 emissions'] = pd.to_numeric(df_final['CO2 emissions'], downcast = 'float', errors = 'coerce')
df_final['Population'] = pd.to_numeric(df_final['Population'], downcast = 'float', errors = 'coerce')

In this study, only a few continents are going to be presented (i.e., Europe, Americas, Asia). However, the final aim is to give to the user the possibility to choose which countries to check via a Streamlit dashboard. Therefore, a dictionary with keys the OECD/Non-OECD "clusters" and values the corresponding list of country members is created. It is going to be used later for the dashboard.

In [36]:
df_final.Country.unique()

array(['World', 'Annex I Parties ', 'Annex II Parties   ',
       'Annex II North America      ', 'Annex II Europe      ',
       'Annex II Asia Oceania', 'Annex I EIT   ', 'Non-Annex I Parties ',
       'Annex B Kyoto Parties', 'OECD Total', 'Non-OECD Total', 'Canada',
       'Chile', 'Mexico', 'United States', 'OECD Americas', 'Australia',
       'Israel', 'Japan', 'Korea', 'New Zealand', 'OECD Asia Oceania',
       'Austria', 'Belgium', 'Czech Republic', 'Denmark', 'Estonia',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland',
       'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg',
       'Netherlands', 'Norway', 'Poland', 'Portugal', 'Slovak Republic',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'OECD Europe', 'Albania', 'Armenia',
       'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria',
       'Croatia', 'Cyprus', 'Georgia', 'Gibraltar', 'Kazakhstan',
       'Kosovo', 'Kyrgyzstan', 'Malta', 'Republic of Moldova',
       'Montenegro', 'Republic of North Macedonia', 'Romania',
       'Russian Federation', 'Serbia', 'Tajikistan', 'Turkmenistan',
       'Ukraine', 'Uzbekistan', 'Former Soviet Union (if no detail)',
       'Former Yugoslavia (if no detail)', 'Non-OECD Europe and Eurasia',
       'Algeria', 'Angola', 'Benin', 'Botswana', 'Cameroon', 'Congo',
       "Côte d'Ivoire", 'Dem. Rep. of Congo', 'Egypt',
       'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Ghana',
       'Kenya', 'Libya', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia',
       'Niger', 'Nigeria', 'Senegal', 'South Africa', 'South Sudan',
       'Sudan', 'United Rep. of Tanzania', 'Togo', 'Tunisia', 'Zambia',
       'Zimbabwe', 'Other Africa', 'Bangladesh', 'Brunei Darussalam',
       'Cambodia', 'DPR of Korea', 'India', 'Indonesia',
       "Lao People's Democratic Republic", 'Malaysia', 'Mongolia',
       'Myanmar', 'Nepal', 'Pakistan', 'Philippines', 'Singapore',
       'Sri Lanka', 'Chinese Taipei', 'Thailand', 'Viet Nam',
       'Other Asia', 'Asia (excl. China)', "People's Rep. of China",
       'Hong Kong, China', 'China (incl. Hong Kong, China)', 'Argentina',
       'Bolivia', 'Brazil', 'Colombia', 'Costa Rica', 'Cuba', 'Curaçao',
       'Dominican Republic', 'Ecuador', 'El Salvador', 'Guatemala',
       'Haiti', 'Honduras', 'Jamaica', 'Nicaragua', 'Panama', 'Paraguay',
       'Peru', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Venezuela',
       'Other Non-OECD Americas', 'Non-OECD Americas', 'Bahrain',
       'Islamic Rep. of Iran', 'Iraq', 'Jordan', 'Kuwait', 'Lebanon',
       'Oman', 'Qatar', 'Saudi Arabia', 'Syrian Arab Republic ',
       'United Arab Emirates', 'Yemen', 'Middle East',
       'IEA/Accession/Association', 'European Union - 28', 'G7', 'G8',
       'G20', 'Africa', 'Americas', 'Asia', 'Europe', 'Oceania'],
      dtype=object)

Dummy Example

In [37]:
list(df_final.Country.unique()).index('Canada')

11

In [38]:
list(df_final.Country.unique()).index('OECD Americas')

15

In [39]:
df_final.Country.unique()[11:15]

array(['Canada', 'Chile', 'Mexico', 'United States'], dtype=object)

In [40]:
oecd_americas = df_final.Country.unique()[11:15]

No need to make complex algorithms/programs, fairly simple by "dirty hands".

In [41]:
df_final.Country.unique()[list(df_final.Country.unique()).index('OECD Americas')+1:list(df_final.Country.unique()).index('OECD Asia Oceania')]

array(['Australia', 'Israel', 'Japan', 'Korea', 'New Zealand'],
      dtype=object)

In [42]:
oecd_asia_oceania = df_final.Country.unique()[list(df_final.Country.unique()).index('OECD Americas')+1:list(df_final.Country.unique()).index('OECD Asia Oceania')]

In [43]:
oecd_europe = df_final.Country.unique()[list(df_final.Country.unique()).index('OECD Asia Oceania')+1:list(df_final.Country.unique()).index('OECD Europe')]

nonoecd_europe_eurasia = df_final.Country.unique()[list(df_final.Country.unique()).index('OECD Europe')+1:list(df_final.Country.unique()).index('Non-OECD Europe and Eurasia')]

africa = df_final.Country.unique()[list(df_final.Country.unique()).index('Non-OECD Europe and Eurasia')+1:list(df_final.Country.unique()).index('Other Africa')+1]

asia_noChina = df_final.Country.unique()[list(df_final.Country.unique()).index('Other Africa')+1:list(df_final.Country.unique()).index('Asia (excl. China)')]

asia_china_hongkong = df_final.Country.unique()[list(df_final.Country.unique()).index('Asia (excl. China)')+1:list(df_final.Country.unique()).index('China (incl. Hong Kong, China)')]

nonoecd_americas = df_final.Country.unique()[list(df_final.Country.unique()).index('China (incl. Hong Kong, China)')+1:list(df_final.Country.unique()).index('Non-OECD Americas')]

middleeast = df_final.Country.unique()[list(df_final.Country.unique()).index('Non-OECD Americas')+1:list(df_final.Country.unique()).index('Middle East')]

In [44]:
dict_final = {
    'oecd_americas': oecd_americas,
    'oecd_asia_oceania': oecd_asia_oceania,
    'oecd_europe': oecd_europe,
    'nonoecd_europe_eurasia': nonoecd_europe_eurasia,
    'africa': africa,
    'asia_noChina': asia_noChina,
    'asia_china_hongkong': asia_china_hongkong,
    'nonoecd_americas': nonoecd_americas,
    'middleeast': middleeast
}

A column 'Continent' is created from the 'Country' column. A function is needed. It is going to return the Continent of a given Country; for the other cases, NaN is returned.

In [45]:
import pycountry_convert as pc

def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name
    except:
        # Return missing value
        return np.nan

# Example
country_name = 'Italy'
print(country_to_continent(country_name))

Europe

In [46]:
df_final['Continent'] = df_final['Country'].apply(country_to_continent)

In [47]:
df_final

      Country  Year  CO2 emissions  Population Continent
0       World  1971      67.974998   71.190002       NaN
1       World  1972      71.264000   72.639999       NaN
2       World  1973      75.351997   74.102997       NaN
3       World  1974      75.197998   75.533997       NaN
4       World  1975      75.483002   76.933998       NaN
...       ...   ...            ...         ...       ...
8587  Oceania  2014     143.311996  137.014008       NaN
8588  Oceania  2015     145.908997  139.089005       NaN
8589  Oceania  2016     148.843002  141.373993       NaN
8590  Oceania  2017     150.341995  143.796005       NaN
8591  Oceania  2018     149.811005  146.080994       NaN

[8592 rows x 5 columns]

Finally, the observation with 'Country' == 'People's Rep. of China', are changed to 'China'.

In [48]:
df_final['Country'] = df_final['Country'].replace(["People's Rep. of China"],'China')

### 0.3.2 Dataset 2

In [49]:
df2_clean_final.set_index(['Country Name', 'Country Code', 'Indicator Name'])

,,,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
Country Name,Country Code,Indicator Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population growth (annual %),2.236462,1.432843,0.823502,0.580334,0.573498,0.599694,0.590951,0.572063,0.609680,0.570441,...,0.377979,0.503385,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017
Africa Eastern and Southern,AFE,Population growth (annual %),2.539822,2.575182,2.606839,2.633213,2.656488,2.677084,2.699647,2.728246,2.764600,2.805012,...,2.756619,2.763426,2.761496,2.750400,2.732598,2.712218,2.690902,2.665620,2.636666,2.605427
Afghanistan,AFG,Population growth (annual %),1.898499,1.965805,2.029830,2.090208,2.147639,2.171068,2.188165,2.254485,2.384674,2.536744,...,3.143106,3.407600,3.494592,3.355602,3.077054,2.778035,2.547833,2.384309,2.313073,2.303812
Africa Western and Central,AFW,Population growth (annual %),2.085972,2.133725,2.173361,2.202845,2.226134,2.248056,2.273562,2.304153,2.341522,2.383871,...,2.775171,2.763803,2.753564,2.745542,2.738332,2.730332,2.719330,2.704168,2.684152,2.660902
Angola,AGO,Population growth (annual %),1.392891,1.383296,1.256405,0.973970,0.618450,0.185805,-0.118815,-0.042732,0.547772,1.482543,...,3.634150,3.597755,3.551997,3.497447,3.438869,3.378269,3.322158,3.276145,3.242914,3.218530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,XKX,Population growth (annual %),1.986474,2.857337,2.777956,2.702867,2.631731,2.564243,2.588275,2.437022,2.379042,2.323756,...,0.859067,0.895255,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,-0.757525
"Yemen, Rep.",YEM,Population growth (annual %),1.450907,1.484139,1.506696,1.515089,1.515455,1.533227,1.563169,1.578322,1.573465,1.567708,...,2.779983,2.757339,2.716540,2.654141,2.578030,2.498277,2.423989,2.357044,2.300594,2.251561
South Africa,ZAF,Population growth (annual %),2.453291,2.486444,2.514218,2.535789,2.552492,2.563834,2.574171,2.589247,2.610663,2.633903,...,1.524514,1.581354,1.604367,1.583787,1.532243,1.471933,1.416947,1.363703,1.316292,1.273356
Zambia,ZMB,Population growth (annual %),3.000974,2.998369,3.004541,3.022576,3.049993,3.074720,3.099891,3.136163,3.186062,3.242234,...,3.020319,3.102914,3.139940,3.121249,3.066671,3.002935,2.951463,2.912653,2.893018,2.885686
Zimbabwe,ZWE,Population growth (annual %),3.342246,3.378137,3.395753,3.390942,3.373608,3.346548,3.328655,3.334614,3.370879,3.422932,...,1.536406,1.698084,1.777672,1.754741,1.663694,1.549294,1.459406,1.410382,1.421142,1.473871

In [50]:
df2_clean_final.set_index(['Country Name', 'Country Code', 'Indicator Name']).stack()

Country Name  Country Code  Indicator Name
Aruba         ABW           Population growth (annual %)  1961.0    2.236462
                                                          1962.0    1.432843
                                                          1963.0    0.823502
                                                          1964.0    0.580334
                                                          1965.0    0.573498
                                                                      ...
Zimbabwe      ZWE           Population growth (annual %)  2016.0    1.549294
                                                          2017.0    1.459406
                                                          2018.0    1.410382
                                                          2019.0    1.421142
                                                          2020.0    1.473871
Length: 15856, dtype: float64

In [51]:
df2_clean_final.set_index(['Country Name', 'Country Code', 'Indicator Name']).stack().reset_index()

,Country Name,Country Code,Indicator Name,level_3,0
0,Aruba,ABW,Population growth (annual %),1961.0,2.236462
1,Aruba,ABW,Population growth (annual %),1962.0,1.432843
2,Aruba,ABW,Population growth (annual %),1963.0,0.823502
3,Aruba,ABW,Population growth (annual %),1964.0,0.580334
4,Aruba,ABW,Population growth (annual %),1965.0,0.573498
...,...,...,...,...,...
15851,Zimbabwe,ZWE,Population growth (annual %),2016.0,1.549294
15852,Zimbabwe,ZWE,Population growth (annual %),2017.0,1.459406
15853,Zimbabwe,ZWE,Population growth (annual %),2018.0,1.410382
15854,Zimbabwe,ZWE,Population growth (annual %),2019.0,1.421142
15855,Zimbabwe,ZWE,Population growth (annual %),2020.0,1.473871

In [52]:
df2_clean_reshape = df2_clean_final.set_index(['Country Name', 'Country Code', 'Indicator Name']).stack().reset_index().rename(columns = {'level_3': 'Year', 0: 'Value'})
df2_clean_reshape

,Country Name,Country Code,Indicator Name,Year,Value
0,Aruba,ABW,Population growth (annual %),1961.0,2.236462
1,Aruba,ABW,Population growth (annual %),1962.0,1.432843
2,Aruba,ABW,Population growth (annual %),1963.0,0.823502
3,Aruba,ABW,Population growth (annual %),1964.0,0.580334
4,Aruba,ABW,Population growth (annual %),1965.0,0.573498
...,...,...,...,...,...
15851,Zimbabwe,ZWE,Population growth (annual %),2016.0,1.549294
15852,Zimbabwe,ZWE,Population growth (annual %),2017.0,1.459406
15853,Zimbabwe,ZWE,Population growth (annual %),2018.0,1.410382
15854,Zimbabwe,ZWE,Population growth (annual %),2019.0,1.421142
15855,Zimbabwe,ZWE,Population growth (annual %),2020.0,1.473871

In [53]:
# Drop the 'Indicator Name' column and Rename the 'Value' column
df2_clean_reshape.drop(['Indicator Name'], axis = 1).rename(columns = {'Country Name': 'Country', 'Value': 'Population growth (annual %)'})

        Country Country Code    Year  Population growth (annual %)
0         Aruba          ABW  1961.0                      2.236462
1         Aruba          ABW  1962.0                      1.432843
2         Aruba          ABW  1963.0                      0.823502
3         Aruba          ABW  1964.0                      0.580334
4         Aruba          ABW  1965.0                      0.573498
...         ...          ...     ...                           ...
15851  Zimbabwe          ZWE  2016.0                      1.549294
15852  Zimbabwe          ZWE  2017.0                      1.459406
15853  Zimbabwe          ZWE  2018.0                      1.410382
15854  Zimbabwe          ZWE  2019.0                      1.421142
15855  Zimbabwe          ZWE  2020.0                      1.473871

[15856 rows x 4 columns]

In [54]:
df2_final = df2_clean_reshape.drop(['Indicator Name'], axis = 1).rename(columns = {'Country Name': 'Country', 'Value': 'Population growth (annual %)'})

### 0.4 Merge Dataset 1 and Dataset 2

In [55]:
df_merge = pd.merge(df_final, df2_final, how = 'inner', on = ['Country', 'Year'])
df_merge

,Country,Year,CO2 emissions,Population,Continent,Country Code,Population growth (annual %)
0,World,1971,67.974998,71.190002,NaN,WLD,2.133117
1,World,1972,71.264000,72.639999,NaN,WLD,2.031211
2,World,1973,75.351997,74.102997,NaN,WLD,1.982943
3,World,1974,75.197998,75.533997,NaN,WLD,1.929549
4,World,1975,75.483002,76.933998,NaN,WLD,1.855834
...,...,...,...,...,...,...,...
6079,United Arab Emirates,2014,340.184998,504.048004,Asia,ARE,0.176775
6080,United Arab Emirates,2015,359.829010,506.729004,Asia,ARE,0.527292
6081,United Arab Emirates,2016,370.427002,512.090027,Asia,ARE,1.053271
6082,United Arab Emirates,2017,386.880005,518.981995,Asia,ARE,1.339470
6083,United Arab Emirates,2018,371.341003,526.859985,Asia,ARE,1.503938

In [56]:
# To csv
# df_final.to_csv(r'df_final.csv')
# df_merge.to_csv(r'df_merge.csv')